/* fonts */
@font-face {
  font-family: "sixtyfour-regular-variablefont";
  src: url("fonts/sixtyfour-regular-variablefont_bledscan-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* styling til hele sitet */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "sixtyfour-regular-variablefont";
}

body {
  min-height: 100vh;
  background: url(img/background2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* header start */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 30px;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: 0.3s;
}

.navbar a:hover::before {
  width: 100%;
}
/* header slut */

/* burger menu start */
.burger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin: 4px 0;
}

.mobile-menu {
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 999;
  background: transparent;
  width: 100%;
  display: none;
  text-align: right;
}

.mobile-menu.show-menu {
  display: block;
}

li a {
  list-style: none;
  color: antiquewhite;
}
li a:hover {
  filter: contrast(3);
  color: #fff;
}
/* burger menu slut */

/* categories site start */
.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: center;
}

.category {
  position: relative;
  text-align: center;
}

.category img {
  max-width: 100%;
  display: block;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.category img:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.category h2 {
  position: absolute;
  bottom: 50%;
  left: 47%;
  transform: translate(-50%, 50%);
  font-size: 34px;
  color: #fff;
  margin: 0;
  opacity: 0.8;
  animation: hopIn 0.5s infinite;
}

@keyframes hopIn {
  0%,
  100% {
    transform: translate(-50%, 50%) translateY(0);
  }
  50% {
    transform: translate(-50%, 50%) translateY(-5px);
  }
}

.category a {
  text-decoration: none;
  color: inherit;
}

.categories-label {
  position: fixed;
  top: 88px;
  left: 10px;
  padding: 5px;
  z-index: 999;
  color: #fff;
}
/* categories site slut */

/* mobil-layout */
@media only screen and (max-width: 768px) {
  .burger-menu {
    display: flex;
    order: 2;
  }
  .mobile-menu {
    top: 80px;
  }
  .logo {
    order: 1;
  }

  nav {
    display: none;
  }
}

/* fjerner burgermenu fra desktop visning */
@media only screen and (min-width: 601px) {
  .burger-menu {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
}
